
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Prototypes</span>
        <h1 class="govuk-heading-xl">HGV Certificates in to MOTH</h1>

        <div class="index-view-proto">
          <h2 class="govuk-heading-m">Latest prototype for testing <strong class="govuk-tag govuk-tag--blue">
            V.1
          </strong>
          </h2>

          <a href="MOTH/HGVonly/Start" class="govuk-button">MOTH: HGV Only</a>
          <a href="MOTH/mixed/Start" class="govuk-button">MOTH: Mixed</a>
          <a href="Replace/HGVonly/download-cert-4" class="govuk-button">Replace: HGV Only</a>
          <a href="Replace/Mixed/download-cert-4" class="govuk-button">Replace: Mixed</a>


        </div>

        <h2 class="govuk-heading-m">History</h2>

        <p>Service improvements to include HGV certificates.</p>

        <p>Service design board can be <a href="https://lucid.app/lucidspark/3cbfa9fb-3335-43af-9927-2545400d03a1/edit?viewport_loc=-1514%2C3000%2C3544%2C1758%2C0_0&invitationId=inv_e6bbfbe8-b269-4475-af43-049bcd78c99f" class="govuk-link">found here.</a></p>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Version 1
            </span>
          </summary>
          <div class="govuk-details__text">

            <h3 class="govuk-heading-s">Version 1.0</h3>

            <p class="govuk-body"><a href="MOTH/HGVonly/Start" class="govuk-link">MOTH: HGV Test History Only</a>   |   <a href="MOTH/mixed/Start" class="govuk-link">MOTH: Mixed Test History</a></p>
            <p class="govuk-body"><a href="Replace/HGVonly/download-cert-4" class="govuk-link">Replace: HGV Test History Only</a>   |   <a href="Replace/Mixed/download-cert-4" class="govuk-link">Replace: Mixed Test History</a></p>

            <p class="govuk-body">Differences:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Curent version for MVP scenarios</li>
            </ul>
          </div>
        </details>





      </div>
    </div>

  </main>
</div>





{% endblock %}
