{% extends "layout.html" %}

{% block pageTitle %}
  VAUXHALL ZAFIRA – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">ABC1234</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
        STANFORD COACHWORKS VAN CONVERSION
      </h1>
      <p><a class="govuk-link--no-visited-state" href="reg">Check another vehicle</a></p>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-one-third">
      <span class="govuk-caption-m">Colour</span>
      <h2 class="govuk-heading-m">Silver</h2>
    </div>
    <div class="govuk-grid-column-one-third">
      <span class="govuk-caption-m">Fuel type</span>
      <h2 class="govuk-heading-m">Petrol</h2>
    </div>
    <div class="govuk-grid-column-one-third">
      <span class="govuk-caption-m">Date registered</span>
      <h2 class="govuk-heading-m">29 March 2022</h2>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <span class="govuk-caption-l">First Annual Test Due</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
      29 March 2023
    </h1>

  </form>
      <p>If you think the annual test expiry date or any of the vehicle details are wrong, <a class="govuk-link--no-visited-state" href="contact">contact DVA</a>.</p>
    </div>
  </div>


  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Annual test history
          </span>
        </h2>
        <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
        Check annual test expiry date and test outcome
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <div class="govuk-inset-text">
        This vehicle hasn't had it's first annual test.
        </div>


{% endblock %}
