{% extends "layout.html" %}

{% block pageTitle %}
  Check the MOT history of a vehicle – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">Contact DVA</span>
          <h1 class="govuk-heading-l">Driver & Vehicle Agency</h1>

          <p>Find out more <a href="#">about MOTs</a>.</p>

          <p style="border-left: 1px solid #b1b4b6;padding-left:15px">Driver & Vehicle Agency
            <br>Monday to Friday, 08.45am to 16.55pm
            <br><a href="#">Find out about call charges</a>
          </p>

          <div class="govuk-inset-text">
            Help us improve our service by telling us <a href="#">what you think</a>.
          </div>




    </div>
  </div>

{% endblock %}
